<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('links') %>
    <link rel="stylesheet" href="/styles/home.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include('navbar') %>
    <div class="box">
      <div class="info">
        <h1>Welcome to our Haansh platform</h1>
        <p>
          Find taleented freelancers or showcase your skills to clients
          worldwide. <span><a href="/auth/signup">Join us</a></span>
        </p>
      </div>
      <div class="img">
        <img src="/img/home.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
