body {
  background-color: #f0f0f0;
}

.thead {
  width: 25%;
}

table {
  margin-bottom: 20px;
  width: 100%;
}

.containers {
  width: 60%;
  margin: 20px auto 0px auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
}

.head {
  text-align: center;
  margin-bottom: 20px;
}

form {
  width: 100%;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  margin-right: 5px;
}

.gender {
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 100%;
}

.Create {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #656565;
}

.Create:hover {
  color: #abda0f;
}

.job {
  margin-bottom: 20px;
}

.job h2 {
  color: #007bff;
  margin-bottom: 10px;
}
.job h3 span {
  color: red;
  margin-bottom: 10px;
}

#form {
  display: none;
}

.backBtn {
  font-size: 30px;
  margin: 10px 20px;
  color: black;
  display: none;
  border: none;
}

#addJob {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
}

.jobMain {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 150px;
}

.tag {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 5px 15px;
  margin-right: 5px;
  position: relative;
  border-radius: 5px;
  margin: 5px 5px 10px 0px;
}

.tag .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.col {
  width: fit-content;
  width: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.error-message {
  color: red;
}
