body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1{
  text-align: center;
}

.containers {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.job h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.job h3 span {
  color: red;
  margin-bottom: 10px;
}
.job h3 {
  font-size: 20px;
}

.job p {
  margin: 5px 0;
}

.jobMain{
  display: flex;
  justify-content: space-between;
}

.button{
  width: 150px;
}