body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1{
  text-align: center;
}

.containers {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.job h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.job h3 span {
  color: red;
  margin-bottom: 10px;
}
.job h3 {
  font-size: 30px;
}

.job p {
  margin: 5px 0;
}

.jobMain{
  display: flex;
  justify-content: space-between;
}

.button{
  width: 150px;
}

.searchForm{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#select{
  width: 25%;
  padding: 5px;
}

.search{
  width: 50%;
  padding: 5px;
}

.searchBtn{
  width: 20%;
}

.box{
  width: 60%;
  margin: 20px auto;
  padding: 20px 0px;
  border-radius: 8px;
}

th{
  width: 25%;
}
table{
  margin-bottom: 20px;
  width: 100%;
}

.col{
  width: fit-content;
  width: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
}